#page-site-index {
    #page.drawers {
        .main-inner {
            max-width: 100% !important;
            width: 100% !important;
            margin-top: 0px;
            padding-top: 0px;
        }

        div[role="main"] {
            padding-left: 0;
            padding-right: 0;
        }
    }

}


.admin-blocks-region {
    border: 1px solid #cdd0d35c;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #cdd0d35c;
    border-radius: 7px;
}